<!DOCTYPE html>
<html>

<head>
    <title>Byte Box</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="dist/css/bootstrap-navbar-dropdowns.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.js" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.js" defer></script>
    <script src="dist/js/bootstrap-navbar-dropdowns.js" defer></script>
</head>

<body>

    <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
        <strong><a class="navbar-brand" href="#">Byte Box</a></strong>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://fontenele.github.io/bootstrap-navbar-dropdowns/"
                        target="_blank">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Dropdown1</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1">
                        <li class="dropdown-item"><a href="http://www.youtube.com" target="_blank">Action 1 -
                                Youtube</a></li>
                        <li class="dropdown-item dropdown">
                            <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Dropdown1.1</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                                <li class="dropdown-item"><a href="#">Action 1.1</a></li>
                                <li class="dropdown-item dropdown">
                                    <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Dropdown1.1.1</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                                        <li class="dropdown-item"><a target="_blank" href="http://www.google.com">Action
                                                1.1.1 -
                                                Google</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Dropdown2</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown2">
                        <li class="dropdown-item"><a href="#">Action 2 A</a></li>
                        <li class="dropdown-item"><a href="#">Action 2 B</a></li>
                        <li class="dropdown-item"><a href="#">Action 2 C</a></li>
                        <li class="dropdown-item dropdown">
                            <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Dropdown2.1</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                <li class="dropdown-item"><a href="#">Action 2.1 A</a></li>
                                <li class="dropdown-item"><a href="#">Action 2.1 B</a></li>
                                <li class="dropdown-item"><a href="#">Action 2.1 C</a></li>
                                <li class="dropdown-item dropdown">
                                    <a class="dropdown-toggle" id="dropdown2-1-1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Dropdown2.1.1</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown2-1-1">
                                        <li class="dropdown-item"><a href="#">Action 2.1.1 A</a></li>
                                        <li class="dropdown-item"><a href="#">Action 2.1.1 B</a></li>
                                        <li class="dropdown-item"><a href="#">Action 2.1.1 C</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-item dropdown">
                                    <a class="dropdown-toggle" id="dropdown2-1-2" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Dropdown2.1.2</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown2-1-2">
                                        <li class="dropdown-item"><a href="#">Action 2.1.2 A</a></li>
                                        <li class="dropdown-item"><a href="#">Action 2.1.2 B</a></li>
                                        <li class="dropdown-item"><a href="#">Action 2.1.2 C</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div style="margin: 15px">
        <p style="font-size: 30px;">Transfer | <a href="">Automate</a></p>
        <p style="margin-top: 100px; font-size: 20px;" id="sign_in_note">To Transfer your data to Filecoin Network, you
            need to first connect to your google account</p>

        <button id="authorize_button" style="display: none;"><img src="images/sign-in-with-google.jpeg"></button>
        <button id="signout_button" style="display: none;">Sign Out</button>
        <button id="picker_button" style="display: none;">Picker</button>
        <br>
        <br>
        <pre id="content" style="white-space: pre-wrap;"></pre>
    </div>

    <div id="result"></div>

    <div id="selectedItems">
    </div>
    <button onclick="transferFilesToSpaceDaemon()">Transfer Files</button>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        // Client ID and API key from the Developer Console
        var CLIENT_ID = '661879573898-06hnq7gdfe2vbtd0huk0ui7qjgs050gs.apps.googleusercontent.com';
        var API_KEY = 'AIzaSyDxe3SDEXfrG1Wm491vyCtcC3ed_cmHGWA';

        // Array of API discovery doc URLs for APIs used by the quickstart
        var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/drive/v3/rest"];

        // required for pickerAPI
        var appId = "661879573898";

        var pickerApiLoaded = false;
        var oauthToken;

        var developerKey = 'AIzaSyDxe3SDEXfrG1Wm491vyCtcC3ed_cmHGWA'
        // Authorization scopes required by the API; multiple scopes can be
        // included, separated by spaces.
        var SCOPES = 'https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/drive.appdata https://www.googleapis.com/auth/drive.metadata https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/drive.photos.readonly https://www.googleapis.com/auth/drive.readonly';

        var authorizeButton = document.getElementById('authorize_button');
        var signoutButton = document.getElementById('signout_button');
        var pickerButton = document.getElementById('picker_button');
        var signInNote = document.getElementById('sign_in_note');

        function loadPicker() {
            // gapi.load('auth', { 'callback': onAuthApiLoad });
            console.log('load picker called');
            gapi.load('picker', { 'callback': onPickerApiLoad });
            console.log('picker loaded');
        }

        function onPickerApiLoad() {
            pickerApiLoaded = true;
            createPicker();
        }

        // Create and render a Picker object for searching images.
        function createPicker() {
            // when first time login, the oauthToken is generally undefined, hence added this code
            if (!oauthToken) {
                oauthToken = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token
                console.log('inside createPicker() oauthToken setter 2: ', oauthToken)
            }
            console.log('tony createPicker func')
            console.log(pickerApiLoaded);

            if (pickerApiLoaded && oauthToken) {
                var view = new google.picker.View(google.picker.ViewId.DOCS);
                view.setMimeTypes("image/png,image/jpeg,image/jpg");
                var picker = new google.picker.PickerBuilder()
                    .enableFeature(google.picker.Feature.NAV_HIDDEN)
                    .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
                    .setAppId(appId)
                    .setOAuthToken(oauthToken)
                    .addView(view)
                    .addView(new google.picker.DocsUploadView())
                    .setDeveloperKey(developerKey)
                    .setCallback(pickerCallback)
                    .build();
                picker.setVisible(true);
            }
        }

        let fileIdArray = [];
        // A simple callback implementation.
        function pickerCallback(data) {
            if (data.action == google.picker.Action.PICKED) {
                var fileId;
                for (var i = 0; i < data.docs.length; i++) {
                    fileId = fileIdArray.push(data.docs[i].id);
                }
                // var fileId = data.docs[0].id;
                document.getElementById('selectedItems').innerHTML = fileIdArray;
                // alert('The user selected: ' + fileIdArray);
            }
        }

        /**
         *  On load, called to load the auth2 library and API client library.
         */
        function handleClientLoad() {
            gapi.load('client:auth2', initClient);
        }

        /**
         *  Initializes the API client library and sets up sign-in state
         *  listeners.
         */
        function initClient() {
            gapi.client.init({
                apiKey: API_KEY,
                clientId: CLIENT_ID,
                discoveryDocs: DISCOVERY_DOCS,
                scope: SCOPES
            }).then(function () {
                // Listen for sign-in state changes.
                gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

                // Handle the initial sign-in state.
                updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
                authorizeButton.onclick = handleAuthClick;
                signoutButton.onclick = handleSignoutClick;
                pickerButton.onclick = handlePickerClick;
                console.log('working1');
                // loadPicker();
                // if (authResult && !authResult.error) {
                //     console.log('tony auth if222')
                //     oauthToken = authResult.access_token;
                //     createPicker();
                // }
                oauthToken = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token
                console.log('oauthToken setter: ', oauthToken)
                console.log('working createPickerCalled');
            }, function (error) {
                appendPre(JSON.stringify(error, null, 2));
            });
        }

        /**
         *  Called when the signed in status changes, to update the UI
         *  appropriately. After a sign-in, the API is called.
         */
        function updateSigninStatus(isSignedIn) {
            if (isSignedIn) {
                console.log('tony8');
                authorizeButton.style.display = 'none';
                signInNote.style.display = 'none';
                signoutButton.style.display = 'block';
                pickerButton.style.display = 'block';
                console.log('tony9');
                listFiles();
                console.log('tony10');
            } else {
                console.log('tony11');
                authorizeButton.style.display = 'block';
                signInNote.style.display = 'block';
                signoutButton.style.display = 'none';
                pickerButton.style.display = 'none';
                console.log('tony12');
            }
            console.log('tony13');
        }

        /**
         *  Sign in the user upon button click.
         */
        function handleAuthClick(event) {
            console.log('tony14');
            gapi.auth2.getAuthInstance().signIn();
            console.log('tony15');
        }

        /**
         *  Sign out the user upon button click.
         */
        function handleSignoutClick(event) {
            console.log('tony16');
            deletePreContent();
            gapi.auth2.getAuthInstance().signOut();
            console.log('tony17');
        }

        function handlePickerClick(event) {
            console.log('working picker clicked');
            loadPicker();
            console.log('working 2 picker clicked');
        }
        /**
         * Append a pre element to the body containing the given message
         * as its text node. Used to display the results of the API call.
         *
         * @param {string} message Text to be placed in pre element.
         */
        // uncomment the below function statements to display the list of the files
        function appendPre(message) {
            // console.log('tony1');
            // var pre = document.getElementById('content');
            // var textContent = document.createTextNode(message + '\n');
            // pre.appendChild(textContent);
            // console.log('tony2');
        }

        function deletePreContent() {
            var pre = document.getElementById('content');
            pre.innerHTML = '';
        }
        var subIndex = 0;
        async function transferFilesToSpaceDaemon() {
            // fileIdArray;
            await console.log('fileIdArray: ', fileIdArray);
            var accessToken = await gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token;// or this: gapi.auth.getToken().access_token;
            // for await (index of fileIdArray) {
            // console.log('for index: ', index)
            var xhr = [];
            var xhr2 = [];
            for (var index = 0; index < fileIdArray.length; index++) {
                // console.log('captain index1:', index, ' , fileIdArray length:', fileIdArray.length)
                function xhrcall(index, fileIdArray, accessToken) {
                    console.log('working on file');
                    var fileId = fileIdArray[index];
                    console.log('current fileId: ', fileId)
                    xhr[index] = new XMLHttpRequest();
                    xhr[index].open("GET", "https://www.googleapis.com/drive/v3/files/" + fileId + '?alt=media', true);
                    xhr[index].setRequestHeader('Authorization', 'Bearer ' + accessToken);
                    xhr[index].responseType = 'arraybuffer'
                    // console.log('captain index2: ', index);
                    xhr[index].onload = function () {
                        console.log('captain index3: ', subIndex);
                        //base64ArrayBuffer from https://gist.github.com/jonleighton/958841
                        var base64 = 'data:image/png;base64,' + base64ArrayBuffer(xhr[index].response);
                        console.log('xhr.response => ', xhr[index].response);
                        console.log('base64 => ' + '**' + subIndex + '**', base64);

                        xhr2[index] = new XMLHttpRequest();
                        var url = 'http://localhost:3000/transfer/' + fileId;
                        var params = 'base64=' + encodeURI(base64);
                        xhr2[index].open('POST', url, true);

                        //Send the proper header information along with the request
                        xhr2[index].setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

                        xhr2[index].onreadystatechange = function () {//Call a function when the state changes.
                            if (xhr2[index].readyState == 4 && xhr2[index].status == 200) {
                                console.log('image1 gone: ', xhr2[index].responseText);
                            }
                        }
                        xhr2[index].send(params);

                        console.log('captain index4: ', subIndex);
                        subIndex += 1;
                    }
                    console.log('captain index5: ', index);
                    xhr[index].send();
                    console.log('done working on file')
                    console.log('captain index6: ', index);
                };
                xhrcall(index, fileIdArray, accessToken);

            }
        }

        function base64ArrayBuffer(arrayBuffer) {
            var base64 = ''
            var encodings = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/'

            var bytes = new Uint8Array(arrayBuffer)
            var byteLength = bytes.byteLength
            var byteRemainder = byteLength % 3
            var mainLength = byteLength - byteRemainder

            var a, b, c, d
            var chunk

            // Main loop deals with bytes in chunks of 3
            for (var i = 0; i < mainLength; i = i + 3) {
                // Combine the three bytes into a single integer
                chunk = (bytes[i] << 16) | (bytes[i + 1] << 8) | bytes[i + 2]

                // Use bitmasks to extract 6-bit segments from the triplet
                a = (chunk & 16515072) >> 18 // 16515072 = (2^6 - 1) << 18
                b = (chunk & 258048) >> 12 // 258048   = (2^6 - 1) << 12
                c = (chunk & 4032) >> 6 // 4032     = (2^6 - 1) << 6
                d = chunk & 63               // 63       = 2^6 - 1

                // Convert the raw binary segments to the appropriate ASCII encoding
                base64 += encodings[a] + encodings[b] + encodings[c] + encodings[d]
            }

            // Deal with the remaining bytes and padding
            if (byteRemainder == 1) {
                chunk = bytes[mainLength]

                a = (chunk & 252) >> 2 // 252 = (2^6 - 1) << 2

                // Set the 4 least significant bits to zero
                b = (chunk & 3) << 4 // 3   = 2^2 - 1

                base64 += encodings[a] + encodings[b] + '=='
            } else if (byteRemainder == 2) {
                chunk = (bytes[mainLength] << 8) | bytes[mainLength + 1]

                a = (chunk & 64512) >> 10 // 64512 = (2^6 - 1) << 10
                b = (chunk & 1008) >> 4 // 1008  = (2^6 - 1) << 4

                // Set the 2 least significant bits to zero
                c = (chunk & 15) << 2 // 15    = 2^4 - 1

                base64 += encodings[a] + encodings[b] + encodings[c] + '='
            }

            return base64
        }

        /**
         * Print files.
         */
        function listFiles() {
            // axios.get('http://localhost:3000/download/')
            //     .then(response => {
            //         console.log(response.data);
            //     })
            //     .catch(error => console.error(error));

            gapi.client.drive.files.list({
                'pageSize': 5,
                'fields': "nextPageToken, files(id, name)"
            }).then(function (response) {
                console.log('tony4');
                appendPre('Files:');
                var files = response.result.files;
                console.log('tony5');
                if (files && files.length > 0) {
                    console.log('tony6');
                    for (var i = 0; i < files.length; i++) {
                        var file = files[i];
                        appendPre(file.name + ' (' + file.id + ')');
                    }
                    console.log('captain1');
                    let fileId = '1qvkLVJjVYXloRY6TrEbTyKjGwScxyIdr';
                    var accessToken = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token;// or this: gapi.auth.getToken().access_token;
                    var xhr = new XMLHttpRequest();
                    xhr.open("GET", "https://www.googleapis.com/drive/v3/files/" + fileId + '?alt=media', true);
                    xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
                    xhr.responseType = 'arraybuffer'
                    xhr.onload = function () {
                        //base64ArrayBuffer from https://gist.github.com/jonleighton/958841
                        var base64 = 'data:image/png;base64,' + base64ArrayBuffer(xhr.response);
                        console.log('xhr.response => ', xhr.response);
                        console.log('base64 => ', base64);

                        var xhr2 = new XMLHttpRequest();
                        var url = 'http://localhost:3000/transfer/'
                        var params = 'base64=' + encodeURI(base64);
                        xhr2.open('POST', url, true);

                        //Send the proper header information along with the request
                        xhr2.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

                        xhr2.onreadystatechange = function () {//Call a function when the state changes.
                            if (xhr2.readyState == 4 && xhr2.status == 200) {
                                console.log('image1 gone: ', xhr2.responseText);
                            }
                        }
                        xhr2.send(params);

                        //do something with the base64 image here
                        // var imageToDownload = document.createElement("a");
                        // imageToDownload.href = base64;
                        // imageToDownload.download = "Image.png";
                        // imageToDownload.click();
                    }
                    // xhr.send();
                    console.log('captain2')
                } else {
                    console.log('tony7');
                    appendPre('No files found.');
                }
            });
        }
    </script>

    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>

</body>

</html>